.layout {
    min-height: 100%;

    .sider {
        position: fixed;
        height: 100%;
    }

    .container {
        transition: margin-left 0.28s;

        .layoutBackground {
            background: #fff;
            min-width: 780px;
        }

        .breadCrumb {
            margin-left: 20px;
            flex-grow: 1;
        }

        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }


    }

 

}