.layout {
    min-height: 100%;

    .sider {
        position: fixed;
        height: 100%;
    }

    .container {
        transition: margin-left 0.28s;

        .layoutBackground {
            background: #fff;
            min-width: 780px;
        }

        .breadCrumb {
            margin-left: 20px;
            flex-grow: 1;
        }

        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }


    }

    :global(.ant-drawer-content) {
        overflow: visible;

        :global(.ant-drawer-body p) {
            display: flex;
            justify-content: space-between;
        }

        .handleButton {
            width: 48px;
            height: 48px;
            position: absolute;
            left: -48px;
            text-align: center;
            font-size: 24px;
            border-radius: 6px 0 0 6px !important;
            z-index: 0;
            pointer-events: auto;
            cursor: pointer;
            color: #fff;
            background-color: @primary-color;
            line-height: 48px;
        }

        .theme {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            margin-bottom: 14px;

            .sketchPicker {
                position: absolute;
                top: 22px;
                z-index: 10;
                left: 0;
            }
        }

    }

}